<div class="container">
  <h1> Groups </h1>
  <div class="container">
    <table class="table">
      <tr>
        <th> Group Name</th>
        <th> Semester</th>
        <th> Students</th>
        <th> Edit </th>
        <th> Delete </th>
      </tr>
      <% @groups.each do |group| %>
        <tr>
          <td> <%= group.name %> </td>
          <td> <%= group.semester.name%> </td>
          <td>
            <ul>
              <% group.users.each do |user| %>
              <li>
                <%= user.full_name %>
              </li>
              <% end %>
            </ul>
          </td>
          <td> <%= link_to "Edit", edit_group_path(group), class: "btn btn-warning align-center" %></td>
          <td> <%= link_to 'Destroy', group_path(group),
                    method: :delete,
                    data: { confirm: 'Are you sure?' },
                    class: "btn btn-danger align-center" %></td>
        </tr>
      <% end %>
    </table>
  </div>

</div>
